<h2>Share this list with users:</h2>
<div class="form-group">
  <label for="InputSearch" class="bmd-label-floating">Search</label>
  <input type="text" class="form-control" id="InputSearch" (input)="getFilteredUsers()" [(ngModel)]="filterText" name="InputSearch">
</div>
<div class="checkbox" *ngFor="let user of filteredUsers">
  <label class="black">
    <input type="checkbox" (change)="checkboxChanged($event, user)" [checked]="user.Checked"> {{ user.User.Username }}
  </label>
</div>