<app-seller-page-template>
  <app-page-title-template>
    <div class="container margin-container">
      <h1>Create new seller acoount</h1>
    </div>
  </app-page-title-template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 sign-up-card">
        <app-sign-up-form isSeller=true (signedUp)="signUp($event)" [signupErrorMessage]="signupErrorMessage"></app-sign-up-form>
      </div>
    </div>
  </div>
</app-seller-page-template>