body, h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-y: scroll;
}

div.table-layout {
    display: table;
    width: 100%;
    height: 100%;
}

div.cell-layout {
    display: table-cell;
    vertical-align: middle;
}

div.centered {
    width: 500px;
    margin: auto;
}

.block {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.form-card {
    display: none;
    padding: 1.5rem;
}

.margin-container {
    margin: 1rem;
}

.no-margin {
    margin: 0;
}

.text-centered {
    text-align: center;
}

text-right {
    text-align: right;
}

.inline {
    display: inline !important;
}

table.align-middle td, .align-middle {
    vertical-align: middle;
}

.bottom-right-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

.overlay {
    background-color: #fafafa;
}

.bmd-form-group {
    margin-top: -1rem;
}

.total {
    font-size: 1.5rem;
    font-weight: bold;
}

.price {
    font-size: 2rem;
    font-weight: bold;
}

input[type="number"]
{
    width: 3rem;
}

.map-container
{
    height: 400px;
}

.fixed-bottom-container
{
    position: fixed;
    bottom: 0;
}

.form-group input {
    width: 100% !important;
}