<app-seller-page-template>
    <app-page-title-template>
        <div class="container margin-container">
            <h1>Shops</h1>
        </div>
    </app-page-title-template>
    <div class="container">
        <div class="row margin-container">
            <table class="table align-middle">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let shop of shops">
                    <td>{{ shop.Id }}</td>
                    <td>
                        <a routerLink="/seller/shop/{{ shop.Id }}">{{ shop.Name }}</a>
                    </td>
                    <td>{{ shop.Address }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" style="min-width: 200px;" aria-labelledby="ex1">
                                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#shopModal" (click)="onEditShop(shop)">
                                    <i class="material-icons inline">mode_edit</i>&nbsp;&nbsp;Edit shop</button>
                                <button class="dropdown-item" type="button" (click)="deleteShop(shop)">
                                    <i class="material-icons inline">delete</i>&nbsp;&nbsp;Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom-right-container">
        <button type="button" class="btn btn-primary bmd-btn-fab" data-toggle="modal" data-target="#shopModal" (click)="onAddShop()">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="InputName" class="bmd-label-floating">Name</label>
                            <input type="text" class="form-control" id="InputName" name="inputName" [(ngModel)]="selectedShop.Name">
                            <app-error-message [errorMessage]="shopValidator.Name"></app-error-message>
                        </div>
                        <div class="form-group">
                            <label for="InputAddress" class="bmd-label-floating">Address</label>
                            <input type="text" class="form-control" id="InputAddress" name="inputAddress" [(ngModel)]="selectedShop.Address">
                            <app-error-message [errorMessage]="shopValidator.Address"></app-error-message>
                        </div>
                        <!-- <div class="text-centered">
                  <button type="button" class="btn btn-raised btn-primary"><i class="material-icons align-middle">map</i><span>&nbsp;Select on map</span></button>
              </div> -->
                        <div class="map-container">
                            <app-shop-map-window [(shop)]="selectedShop"></app-shop-map-window>
                            <!-- <app-shops-map-window [(receiptInShops)]="receiptInShops" [(selectedShop)]="selectedShop" (selectedShopChange)="selectedShopChanged()"></app-shops-map-window> -->
                            <app-error-message [errorMessage]="shopValidator.Localization"></app-error-message>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="shopModalSave()">{{ isSelectedNew ? "Add" : "Save" }}</button>
                </div>
            </div>
        </div>
    </div>
</app-seller-page-template>