<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Get to the shopper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ sitePart=='products' ? 'active' : '' }}">
        <a class="nav-link" routerLink="/seller/products">Products</a>
      </li>
      <li class="nav-item {{ sitePart=='shops' ? 'active' : '' }}">
        <a class="nav-link" routerLink="/seller/shops">Shops</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          href="#">
          Howdy, {{ userName }}!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/seller/register">Register seller</a>
          <span class="dropdown-item" (click)="logout()">Logout</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="body">
  <ng-content></ng-content>
</div>