<app-seller-page-template>
    <app-page-title-template>
        <div class="container margin-container">
            <h1>Shop: {{ shop.Name }}</h1>
        </div>
    </app-page-title-template>
    <div class="container-fluid">
        <div class="row margin-container">
            <div class="col-md-4">
                <form>
                    <!-- <div> -->
                    <!-- <i class="material-icons">search</i> -->
                    <div class="form-group">
                        <label for="InputSearch" class="bmd-label-floating">Search</label>
                        <input type="text" class="form-control" id="InputSearch" (input)="getFilteredProductsNotInShop()" [(ngModel)]="filterText"
                            name="InputSearch">
                    </div>
                    <!-- </div> -->
                </form>
                <table class="table align-middle">
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Price for unit</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let product of filteredProducts">
                        <td>{{ product.Name }}</td>
                        <td>{{ product.Unit.Name() }}</td>
                        <td>{{ product.Price | number:'1.2-2'}} PLN</td>
                        <td>
                            <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm" (click)="onAddProductToShop(product)" data-toggle="modal"
                                data-target="#productModal">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!filteredProducts || filteredProducts.length === 0">
                        <td colspan="4" class="text-centered">Sorry, we haven't got what you are looking for.</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                <table class="table align-middle">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Price for unit</th>
                        <th>Available quantity</th>
                        <th>Aisle</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr *ngFor="let productInShop of productsInShop">
                        <td>{{ productInShop.Id }}</td>
                        <td>{{ productInShop.Product.Name }}</td>
                        <td>{{ productInShop.Product.Unit.Name() }}</td>
                        <td>{{ productInShop.Product.Price | number:'1.2-2'}} PLN</td>
                        <td>{{ productInShop.AvailableUnits }}</td>
                        <td>{{ productInShop.Aisle }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-left" style="min-width: 200px;" aria-labelledby="ex1">
                                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#productModal" (click)="onEditProductInShop(productInShop)">
                                        <i class="material-icons inline">mode_edit</i>&nbsp;&nbsp;Edit product</button>
                                    <button class="dropdown-item" type="button" (click)="deleteProductFromShop(productInShop)">
                                        <i class="material-icons inline">delete</i>&nbsp;&nbsp;Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="InputProduct" class="bmd-label-floating">Product</label>
                            <input type="text" class="form-control" disabled id="InputProduct" [ngModel]="selectedProductInShop.Product.Name" name="InputProduct">
                        </div>
                        <div class="form-group">
                            <label for="InputQuantity" class="bmd-label-floating">Available quantity (in proper unit)</label>
                            <input type="text" class="form-control" id="InputQuantity" name="InputQuantity" [(ngModel)]="selectedProductInShop.AvailableUnits">
                            <app-error-message [errorMessage]="shopProductValidator.Quantity"></app-error-message>
                        </div>
                        <div class="form-group">
                            <label for="InputAisle" class="bmd-label-floating">Aisle</label>
                            <input type="text" class="form-control" id="InputAisle" name="InputAisle" [(ngModel)]="selectedProductInShop.Aisle">
                            <app-error-message [errorMessage]="shopProductValidator.Aisle"></app-error-message>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="productModalSave()">{{ isSelectedNew ? "Add" : "Save" }}</button>
                </div>
            </div>
        </div>
    </div>
</app-seller-page-template>