#login-container {
    background: url(../../../assets/img/supermarket2.jpg);
    background-size: cover;
}

:host >>> .block {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

:host >>> label.black, label.black:hover
{
    color: #495057
}