<div id="login-container">
    <div class="table-layout">
        <div class="cell-layout">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <ng-content></ng-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>