<div class="card form-card">
  <h1 class="text-centered">Sign up</h1>
  <app-error-alert [errorMessage]="signupErrorMessage"></app-error-alert>
  <form class="no-margin">
    <div class="form-group">
      <label for="InputLogin" class="bmd-label-floating">Login</label>
      <input type="text" class="form-control" id="InputLogin" [(ngModel)]="singupData.Login" name="inputLogin">
      <app-error-message [errorMessage]="registerValidator.Login"></app-error-message>      
    </div>
    <div class="form-group">
      <label for="PasswordLogin" class="bmd-label-floating">Password</label>
      <input type="password" class="form-control" id="PasswordLogin" [(ngModel)]="singupData.Password" name="inputPassword">
      <app-error-message [errorMessage]="registerValidator.Password"></app-error-message>
    </div>
    <div class="form-group">
      <label for="PasswordConfirmLogin" class="bmd-label-floating">Confirm password</label>
      <input type="password" class="form-control" id="PasswordConfirmLogin" [(ngModel)]="singupData.ConfirmPassword" name="inputPasswordConfirm">
      <app-error-message [errorMessage]="registerValidator.ConfirmPassword"></app-error-message>
    </div>
    <button type="submit" class="btn btn-raised btn-primary block" (click)="signUp()">Sign up</button>

  </form>
</div>