<app-client-page-template>
    <app-page-title-template>
        <div class="container margin-container">
            <h1>My shopping lists</h1>
        </div>
    </app-page-title-template>
    <div class="container">
        <!-- <div class="row margin-container">
      <h1>My Shopping Lists</h1>
  </div> -->
        <div class="row margin-container">
            <table class="table align-middle">
                <tr>
                    <th>Name</th>
                    <th>Done</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let receipt of receipts">
                    <td>
                        <a routerLink="/receipt/{{receipt.Id}}">{{ receipt.Name }}</a>
                    </td>
                    <td>{{ receipt.Done ? '✔' : '' }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" style="min-width: 200px;" aria-labelledby="ex1">
                                <button class="dropdown-item" type="button" (click)="selectReceipt(receipt)" data-toggle="modal" data-target="#receiptModal">
                                    <i class="material-icons inline">mode_edit</i>&nbsp;&nbsp;Edit name
                                </button>
                                <button class="dropdown-item" type="button" (click)="onChangeDoneState(receipt)">
                                    <i class="material-icons inline">check</i>&nbsp;&nbsp;{{ receipt.Done ? "Unmark" : "Mark" }} as done
                                </button>
                                <button class="dropdown-item" type="button" (click)="selectReceipt(receipt)" data-toggle="modal" data-target="#shareModal">
                                    <i class="material-icons inline">group_add</i>&nbsp;&nbsp;Share
                                </button>
                                <button class="dropdown-item" type="button" (click)="onDeleteReceipt(receipt)">
                                    <i class="material-icons inline">delete</i>&nbsp;&nbsp;Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom-right-container">
        <button type="button" class="btn btn-primary bmd-btn-fab" data-toggle="modal" data-target="#receiptModal" (click)="onAddReceipt()">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="InputName" class="bmd-label-floating">Receipt name</label>
                            <input type="text" class="form-control" id="InputName" [(ngModel)]="selectedReceipt.Name" name="selectedReceiptName">
                            <app-error-message [errorMessage]="receiptValidator.Name"></app-error-message>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="onReceiptModalSave()">{{ isSelectedNew ? "Add" : "Save" }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <app-share-dialog [receipt]="selectedReceipt"></app-share-dialog>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</app-client-page-template>