<app-client-start-page>
    <div class="card form-card">
        <h1 class="text-centered">Get To The Shopper</h1>
        <app-error-alert [errorMessage]="loginErrorMessage"></app-error-alert>
        <form class="no-margin">
            <div class="form-group">
                <label for="InputLogin" class="bmd-label-floating">Login</label>
                <input type="text" class="form-control" id="InputLogin" [(ngModel)]="loginData.Login" name="inputLogin">
                <app-error-message [errorMessage]="loginValidator.Login"></app-error-message>                
            </div>
            <div class="form-group">
                <label for="PasswordLogin" class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" id="PasswordLogin" [(ngModel)]="loginData.Password" name="inputPassword">
                <app-error-message [errorMessage]="loginValidator.Password"></app-error-message>       
            </div>
            <div class="checkbox block">
                <label class="black">
                    <input type="checkbox" name="inputRemember" [(ngModel)]="loginData.RememberMe"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-raised btn-primary block" (click)="logIn()">Log in</button>
            <a class="btn btn-raised btn-primary block" routerLink="/signup">Sign up</a>

        </form>
    </div>
</app-client-start-page>