<app-client-page-template>
    <app-page-title-template>
        <div class="container">
            <div class="row margin-container align-items-center">
                <div class="col-md-6">
                    <h1>{{ receipt.Name }}</h1>
                </div>
                <div class="col-md-6 row justify-content-md-end align-items-center">
                    <div class="col-auto">
                        <h3>Selected shop: {{ selectedShop ? selectedShop.Name : "none" }}
                        </h3>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-raised btn-secondary" data-toggle="modal" data-target="#mapModal">
                            <i class="material-icons align-middle">map</i>
                            <span>&nbsp;Select shop</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </app-page-title-template>
    <div class="container-fluid">
        <div class="row margin-container">
            <div class="col-md-4">
                <form>
                    <!-- <div> -->
                    <!-- <i class="material-icons">search</i> -->
                    <div class="form-group">
                        <label for="InputSearch" class="bmd-label-floating">Search</label>
                        <input type="text" class="form-control" id="InputSearch" (input)="getFilteredProductsNotOnList()" [(ngModel)]="filterText"
                            name="InputSearch">
                    </div>
                    <!-- </div> -->
                </form>
                <table class="table align-middle">
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Price for unit</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let product of filteredProducts">
                        <td>{{ product.Name }}</td>
                        <td>{{ product.Unit.Name() }}</td>
                        <td>{{ product.Price | number:'1.2-2'}} PLN</td>
                        <td>
                            <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm" (click)="addProductToReceipt(product)">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!filteredProducts || filteredProducts.length === 0">
                        <td colspan="4" class="text-centered">Sorry, we haven't got what you are looking for.</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h2>Your list</h2>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <button class="btn bmd-btn-icon dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-left" style="min-width: 200px;">
                                    <button class="dropdown-item" type="button" (click)="createPdf(true)">
                                        <i class="material-icons inline">print</i>&nbsp;&nbsp;Print
                                    </button>
                                    <button class="dropdown-item" type="button" (click)="createPdf(false)">
                                        <i class="material-icons inline">picture_as_pdf</i>&nbsp;&nbsp;Download PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table align-middle">
                        <tr>
                            <th>Name</th>
                            <th>Unit</th>
                            <th>Price for unit</th>
                            <th>Quantity</th>
                            <th *ngIf="selectedShop">Aisle</th>
                            <th *ngIf="selectedShop">Availability</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let product of wantedProducts">
                            <td>{{ product.Product.Name }}</td>
                            <td>{{ product.Product.Unit.Name() }}</td>
                            <td>{{ product.Product.Price | number:'1.2-2' }} PLN</td>
                            <td>
                                <input type="number" class="form-control" name="input{{product.Id}}WantedQuantity" [(ngModel)]="product.ReceiptProduct.Quantity"
                                    (focusout)="quantityChanged(product)"> </td>
                            <td *ngIf="selectedShop">{{ product.ShopProduct ? product.ShopProduct.Aisle : "" }}</td>
                            <td *ngIf="selectedShop">
                                <b *ngIf="product.EnoughUnits === null" class="text-danger">Product out of sell</b>
                                <b *ngIf="product.EnoughUnits != null && product.EnoughUnits" class="text-success">Available</b>
                                <b *ngIf="product.EnoughUnits != null && !product.EnoughUnits" class="text-danger">Not available</b>
                            </td>
                            <td>
                                <button class="btn bmd-btn-icon" type="button" (click)="deleteProductFromReceipt(product)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="bottom-right-container overlay">
            <span class="text-success total align-middle">Total price: </span>
            <span class="price align-middle">{{ totalPrice | number:'1.2-2' }} PLN</span>
        </div>


        <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body map-container">
                        <app-shops-map-window [(receiptInShops)]="receiptInShops" [(selectedShop)]="selectedShop" (selectedShopChange)="selectedShopChanged()"></app-shops-map-window>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="shopSelected()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-client-page-template>