<app-client-page-template>
    <app-page-title-template>
        <div class="container margin-container">
            <h1>Shopping lists shared to me</h1>
        </div>
    </app-page-title-template>
    <div class="container">
        <div class="row margin-container">
            <table class="table align-middle">
                <tr>
                    <th>Name</th>
                    <th>Done</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let receipt of receipts">
                    <td>
                        <a routerLink="/sharedReceipt/{{receipt.Id}}">{{ receipt.Name }}</a>
                    </td>
                    <td>{{ receipt.Done ? '✔' : '' }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" style="min-width: 200px;" aria-labelledby="ex1">
                                <button class="dropdown-item" type="button" (click)="onChangeDoneState(receipt)">
                                    <i class="material-icons inline">check</i>&nbsp;&nbsp;{{ receipt.Done ? "Unmark" : "Mark" }} as done
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</app-client-page-template>