<app-seller-page-template>
    <app-page-title-template>
        <div class="container margin-container">
            <h1>Products</h1>
        </div>
    </app-page-title-template>
    <div class="container">
        <div class="row margin-container">
            <table class="table align-middle">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Price for unit</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let product of products">
                    <td>{{ product.Id }}</td>
                    <td>{{ product.Name }}</td>
                    <td>{{ product.Unit.Name() }}</td>
                    <td>{{ product.Price | number:'1.2-2'}} PLN</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" style="min-width: 200px;" aria-labelledby="ex1">
                                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#productModal" (click)="onEditProduct(product)">
                                    <i class="material-icons inline">mode_edit</i>&nbsp;&nbsp;Edit product</button>
                                <button class="dropdown-item" type="button" (click)="deleteProduct(product)">
                                    <i class="material-icons inline">delete</i>&nbsp;&nbsp;Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
            </table>
        </div>
    </div>
    <div class="bottom-right-container">
        <button type="button" class="btn btn-primary bmd-btn-fab" data-toggle="modal" data-target="#productModal" (click)="onAddProduct()">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="InputName" class="bmd-label-floating">Name</label>
                            <input type="text" class="form-control" id="InputName" name="inputName" [(ngModel)]="selectedProduct.Name">
                            <app-error-message [errorMessage]="productValidator.Name"></app-error-message>
                        </div>
                        <div class="form-group">
                            <label for="unitSelect">Unit</label>
                            <select class="form-control" id="unitSelect" name="unitSelect" [(ngModel)]="selectedProduct.Unit.UnitType">
                                <option *ngFor="let unit of unitValues" value="{{unit.UnitType}}">{{unit.Name()}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="InputAddress" class="bmd-label-floating">Price for unit (in PLN)</label>
                            <input type="number" step="0.01" class="form-control decimal" id="InputProce" name="inputProce" [(ngModel)]="selectedProduct.Price">
                            <app-error-message [errorMessage]="productValidator.Price"></app-error-message>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="productModalSave()">{{ isSelectedNew ? "Add" : "Save" }}</button>
                </div>
            </div>
        </div>
    </div>
</app-seller-page-template>