<app-seller-page-template>
  <app-page-title-template>
    <div class="container margin-container">
      <h1>Welcome to seller's panel</h1>
    </div>
  </app-page-title-template>
  <div class="text-centered" style="margin: 2rem;">
    Please select one of options from the top bar.
  </div>
</app-seller-page-template>